<h1>Create New Contact</h1>

<form action="/contacts" method="post">
	<p>First name: <input type="text" name="first_name"></p>
	<p>Last name: <input type="text" name="last_name"></p>
	<p>Email: <input type="text" name="email"></p>
	<p>Notes: <input type="text" name="note"></p>
	<p><input type="submit" name="Submit"></p>
</form>